#services
    .textbox
        text-align: center
        h1,h2
            font-size: 50px
            font-weight: 700
        h3,h4
            font-size: 20px
            color: #a5abb0
            margin: 20px 0 40px
        .icon
            font-size: 67px
            padding: 20px 0
            background-color: #ffc800
            color: #ffff
        h2
            font-size: 30px
            margin: 20px 0
        h4
            line-height: 1.4
            margin: 0
